@use 'sass:map';
@use '@angular/material' as mat;
@import "../variables";

#toolbar-logo {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
}

mat-sidenav-container {
  min-height: 100%;

  mat-sidenav {
    width: 10rem;
    background-color: mat.get-color-from-palette($primary-palette, 100);

    a {
      text-decoration: none;
      color: black;
    }

    mat-list-item.active {
      background-color: mat.get-color-from-palette($primary-palette, 500);
      font-weight: bold;

      a {
        color: white;
      }
    }
  }
}

main {
  padding: 0 1rem;
}
